*{
  box-sizing: border-box;
}
form{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
p{
  font-size: 14px;
  font-weight: 100;
  line-height: 0.5px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

.social-container{
  margin: 0;
}
.social-container a{
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #333;
}
a:hover{
color: #FFCC00;
}